			* {
				margin: 0px;
				padding: 0px;
			}
			
			.container {
				height: 100%;
				width: 100%;
				position: fixed;
				display: flex;
				flex-flow: column;
				justify-content: space-between;
			}
			
			
			/*top----start*/
			
			.top {
				height: 6.5%;
				width: 100%;
				background-color: #37474F;
				display: flex;
				justify-content: space-between;
				text-align: center;
				line-height: 25px;
				color: white;
			}
			
			.l {
				height: 100%;
				width: 100px;
				display: flex;
				align-items: center;
				
			}
			
			.ll {
				height: 40px;
				width: 35px;
				background: url(../img/photo/moments-portrait/874824114877187469.png);
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
			}
			.w2{
				height:40px;
				width:65px;
				font-family: "微软雅黑";
				font-size: larger;
				text-align: center;
				line-height: 40px;
			}
			.r {
				height: 100%;
				width: 35px;
				
				background: url(../img/photo/moments-portrait/574983277220461131.png);
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
			}
			
			.content {
				height: 100%;
				width: 100%;
				
				flex-grow: 1;
				overflow: scroll;
			}
			::-webkit-scrollbar{
				display:none;
			}
			/*背景图片----start*/
			
			.middle {
				height: 200px;
				width: 100%;
				background-color: white;
				background: url(../img/photo/l9.jpg);
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
				position: relative;
			}
			.blank {
				height: 50px;
				width: 100%;
				background-color: white;
			}
			
			.hi {
				height: 50px;
				width: 50px;
				position: absolute;
				right:10px;
				top: 170px;
				background: url(../img/photo/l13.jpg);
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
			}
			
			.hw {
				height: 25px;
				width: 100px;
				font-family: "微软雅黑";
				color: white;
				align-items: center;
				text-align: right;
				position: absolute;
				right:65px;
				top: 170px;
			}
			
			
			/*开始朋友圈内容----start*/
			
			.bottom {
				height: auto;
				width: 100%;
			
			}
			
			.word {
				height: auto;
				width: 90%;
				margin: 0 auto;
				display: flex;
				flex-flow: column;
			}
			.word1{
				height: auto;
				width: 90%;
				margin: 0 auto;
				display: flex;
				flex-flow: column;
			}
			.t1{
				height: 60px;
				width: 100%;
				margin: 0 auto;
				display: flex;
				flex-flow: row;
				
			}
			
			.img1{
				height: 30px;
				width: 30px;
				background: url(../img/photo/l8.jpg);
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
			}
			.img2{
				height: 30px;
				width: 30px;
				background: url(../img/photo/l2.jpg);
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
			}
			
			.w1 {
				height: 50px;
				width:80%;
				display: flex;
				flex-flow: column;
			}
			
			.tl1 {
				height: 30px;
				width:100%;
				font-family: "微软雅黑";
				color:#3F51B5;
				font-size:small;
			}
			.tl2{
				height:30px;
				width:100%;
				font-size: small;
			}
			
			
			.pic1{
				
				height:100px;
				width:200px;
				
				margin-left:30px;
				background: url(../img/photo/132242879163103328.jpg);
				background-size: contain;
				background-repeat: no-repeat;
				background-position: left;
			   ;
			}
			.pic2{
				
				height:100px;
				width:200px;
				
				margin-left:30px;
				background: url(../img/photo/l14.jpg);
				background-size: contain;
				background-repeat: no-repeat;
				background-position: left;
			   
			}
			.clock{
				font-size:xx-small;
				color:#808080;
				margin-left:30px;
			}
			.b1{
				height:20px;
				width:100%;
				
				display:flex;
				justify-content: space-between;
			}
			.angel{
				height:0px;
				width:0px;
				border-left:3px solid transparent;
				border-right:3px solid transparent;
				border-bottom: 8px solid #D3D3D3;
				margin-left: 30px;
			}
			.p1{
				height:auto;
				width:100%;
				background-color: #D3D3D3;
				padding-left: 30px;
				font-size:small;
			}
			.lr{
				height:20px;
				width:20px;
			
				background: url(../img/icon/评论.png);
				background-size: contain;
				background-repeat: no-repeat;
				background-position: left;
			}