html,body{
				height:100%;
				width:100%;
			}
			* {
				padding: 0px;
				margin: 0px;
			}
			a {
				color: white;
				font-family: "微软雅黑";
				line-height: 30px;
			}
			
			#container {
				height: 100%;
				width: 100%;
				box-shadow: 0px 0px 10px gray;
				margin: 0 auto;
				display: flex;
				flex-flow: column;
				justify-content: space-between;
				position:fixed;
			}
			
			.top {
				height: 30px;
				width: 100%;
				background-color: #212121;
				color: #white;
				text-indent: 5px;
				display: flex;
				justify-content: space-between;
				flex-flow:row nowrap;
				
			}
			.ps{
				height:30px;
				width:80px;
				display:flex;
				flex-flow: row;
			}
			.plus {
				height: 30px;
				width: 40px;
				background: url(../img/images/plus.png);
	
			
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
			}
			.plus:hover{
				transform: scale(1.1);
			}
			
			.search {
				height: 30px;
				width: 40px;
			 	
			    background: url(../img/images/search.png);
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
			}
			.search:hover{
				transform: scale(1.1);
			}
			.content:{
				height:100%;
				width:100%;
				flex-grow: 1;
				background-color: #808080;
			}
			::-webkit-scrollbar{
				display: none;
			}
			.blank{
				height:20px;
				width:100%;
				background-color: lavender;
			}
			.list1{
				padding: 3px;
				height:80px;
				width:100%;
				display: flex;
				flex:row;
				
				
			}
			.list{
				padding: 3px;
				height:40px;
				width:100%;
				display: flex;
				flex:row;
				justify-content: space-between;
				
			}
			.list:hover{
				background-color: #E0E0E0;
			}
			.list1:hover{
				background-color: #E0E0E0;
			}
			
			.lf{
				height:80px;
				width:97%;
				display:flex;
				flex-flow: row;
				justify-content: space-between;
			}
			.c1{
				margin-left: 10px;
				height:80px;
				width:70%;
			}
			.picl{
				height: 80px;
				width: 80px;
				background: url(../img/photo/l5.jpg);
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
			}
			.word{
				
				height:50%;
				width:100%;
				line-height: 40px;
				text-align:left;
			}
			.small{
				height:40%;
				width:100%;
				color:#D3D3D3;
				font-size: smaller;
				
			}
			.rg1{
				margin: 5px;
				height: 40px;
				width: 40px;
				background: url(../img/icon/609371737576643206.png);
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
			}
			.pic2{
				height: 40px;
				width: 40px;
				background: url(../img/icon/99643375182346947.png);
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
			}
			.pic3{
				height: 40px;
				width: 40px;
				background: url(../img/icon/289084898346565131.png);
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
			}
			.pic4{
				height: 40px;
				width: 40px;
				background: url(../img/icon/840130645204105729.png);
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
			}
			.pic5{
				height: 40px;
				width: 40px;
				background: url(../img/icon/777891931488836933.png);
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
			}
			.pic6{
				height: 40px;
				width: 40px;
				background: url(../img/icon/718771359721470279.png);
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
			}
			.pic7{
				height: 40px;
				width: 40px;
				background: url(../img/icon/611771322276861017.png);
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
			}
			.bottom{
				height:40px;
				width:100%;
				display: flex;
				flex-flow: row wrap;
				justify-content: space-around;
				position: absolute;
				bottom: 0px;
			}
			.left{
				height:40px;
				width:35px;
				background-image: url(../img/photo/moments-portrait/518233841488427445.png);
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
			}
			
			.ml{
				height:40px;
				width:35px;
				background-image: url(../img/images/微信图片_20170730142457.png);
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
			}
			.mr{
				height:40px;
				width:35px;
				background-image: url(../img/images/微信图片_20170730142411.png);
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
			}
			.right{
				height:39px;
				width:35px;
				background-image: url(../img/icon/164197430903276634.png);
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
			}
			.large{
				height:100px;
				width:100%;
			}
